<div class="fund">
    <h3>Fund Billie's Work</h3>
</div>
<div class="tab-wrap">
    <div class="media">
        <div class="parrent media-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab1">
                    <div class="media">
                       <div class="pull">
                            <!--<img class="img-responsive" src="{{ site.url }}/images/tab1.png"> -->
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4 numcontent">
                                <span>$<span class='num'>75</span></span><p>needed<br/>per month</p>
                            </div>
                            <div class="col-sm-4 centerimg">
                                <img class="img-responsive" src="{{ site.url }}/images/overview_circle.png">
                            </div>
                            <div class="col-sm-4 numcontent">
                                <span>$<span class='num'>225</span></span><p>funded<br/>per month</p>
                            </div>
                            
                        </div>
                    </div>
                </div>

                 <div class="tab-pane fade" id="tab2">
                    <div class="media">
                       <div class="pull">
                            <!--<img class="img-responsive" src="{{ site.url }}/images/tab1.png"> -->
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4 numcontent">
                                <span>$<span class='num'>75</span></span><p>needed<br/>per month</p>
                            </div>
                            <div class="col-sm-4 centerimg">
                                <img class="img-responsive" src="{{ site.url }}/images/overview_circle.png">
                            </div>
                            <div class="col-sm-4 numcontent">
                                <span>$<span class='num'>225</span></span><p>funded<br/>per month</p>
                            </div>
                            
                        </div>
                    </div>
                 </div>

                 <div class="tab-pane fade" id="tab3">
                    <div class="media">
                       <div class="pull">
                            <!--<img class="img-responsive" src="{{ site.url }}/images/tab1.png"> -->
                        </div>
                        <div class="media-body">
                            <div class="col-sm-4 numcontent">
                                <span>$<span class='num'>75</span></span><p>needed<br/>per month</p>
                            </div>
                            <div class="col-sm-4 centerimg">
                                <img class="img-responsive" src="{{ site.url }}/images/overview_circle.png">
                            </div>
                            <div class="col-sm-4 numcontent">
                                <span>$<span class='num'>225</span></span><p>funded<br/>per month</p>
                            </div>
                            
                        </div>
                    </div>
                 </div>
                 
            </div> <!--/.tab-content-->  
        </div> <!--/.media-body--> 

        <div class="parrent pull">
            <ul class="nav nav-tabs nav-stacked">
                <li class="active"><a href="#tab1" data-toggle="tab" class="analistic-01">$300 target funding</a></li>
                <li class=""><a href="#tab2" data-toggle="tab" class="analistic-02">13 circle members</a></li>
                <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">21 days until next cycle</a></li>
            </ul>
        </div>
    </div> <!--/.media-->     
</div><!--/.tab-wrap--> 
<div class="offer row">
    <div class="offertitle">Private workroom offer</div>
    <div class="col-sm-3">
        <img class="img-responsive" src="{{ site.url }}/images/women.jpg">
    </div>
    <div id="triangle-left"></div>
    <div class="col-sm-9 offercontent">

        Lorem ipsum dolor sit amet, ne eius singulis accusata mei, sed gubergren ullamcorper ad. Vim ei latine nominati. Id diam quot quo. No nec reformidans philosophia, usu ei utinam postea delicatissimi. Iudicabit salutatus duo in. Justo alienum no vis.
    </div>
</div>
